.profile-pic {
  width: 228px; /* Square dimensions */
  border-radius: 50%; /* Makes it circular */
  border: 4px solid #e2e8f0; /* Optional border */
  object-fit: cover;
  overflow: hidden;
  object-position: top; /* Adds some spacing from the top */
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
