.profile-pic {
  width: 180px; /* Square dimensions */
  border-radius: 50%; /* Makes it circular */ /* Optional border */
  object-fit: cover;
  overflow: hidden;
  object-position: top; /* Adds some spacing from the top */
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.work-history {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  padding: 20px;
  text-align: center; /* Center the text */
  margin-left: auto;
  margin-right: auto;
}

.work-entry {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center; /* Center the text */
  width: 100%; /* Ensure the work entry takes full width */
}
