html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(4, 41, 105, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 6% 0%,
    rgba(14, 68, 123, 1) 0%,
    rgba(4, 41, 105, 1) 100%
  );
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
